<html>
	<%- include("./partials/head.ejs") %> 
	<body>
		<div class="content-container">
			<h1 class="page-title"><%= title %></h1>
			<%- include("./partials/errors.ejs") %>
			<% if (currentUser) { %>
				<div class="grid-container">
					<div class="card message-container">
						<h2 class="text-center">Message Board</h2>
						<% messages.forEach((message) => { %>
							<%- include('./partials/messageCard.ejs', {message}) %>
						<% }); %>
					</div>
					
					<div class="menu-container">
						<div class="card message-form-container">
							<h2 class="text-center">Welcome <%= currentUser.first_name %> </h2>
							<% if (currentUser.admin_status) { %>
							<h3 class="text-center">Admin</h3>
							<% } %>
							<h3>Create Message</h3>
							<form action="/send-message" method="post">
								<label for="title">Title: <input type="text" name="title" id="title"></label>
								<label for="content">Message Content:
									<textarea name="content" id="content"></textarea>
								</label>
								<button class="justify-self-center" type="submit">Send Message</button>
							</form>
						</div>
						<div class="justify-self-center">
							<a class="btn-link" href="/advanced-settings">Advanced Settings</a>
							<a class="btn-link" href="/log-out">Log Out</a>
						</div>
					</div>
				</div>
			<% } else { %>
				<div class="grid-container">
					<div class="card message-container">
						<h2>Message Board</h2>
						<% messages.forEach((message) => { %>
							<%- include('./partials/messageCard.ejs', {message}) %>
						<% }); %>
					</div>
					<div class="menu-container">
						<div class="card login-container">
							<h2 class="text-center">Log in</h2>
							<form action="/log-in" method="POST">
								<label for="username">Username:
									<input id="username" name="username" type="text"/>
								</label>
								<label for="password">Password:
									<input id="password" name="password" type="password"/>
								</label>
								<button class="justify-self-center" type="submit">Log In</button>
							</form>
						</div>
						<a class="btn-link btn-link--large justify-self-center" href="/sign-up">Sign up</a>
					</div>
				</div>
			<% } %>
				
		</div>
	</body>
</html>